.block-filter {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	grid-column-gap: 20px;
}
.category-filter {
	width: 100%;
	overflow-x: scroll;
	padding-top: 20px;
}
.category-filter::-webkit-scrollbar {
	width: 12px; /* ширина scrollbar */
	height: 15px;
	top: 10px;
}
.category-filter::-webkit-scrollbar-track {
	background: transparent; /* цвет дорожки */
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 100px;
	height: 20px;
}
.category-filter::-webkit-scrollbar-thumb {
	background-color: #fff; /* цвет плашки */
	border-radius: 10px; /* закругления плашки */
	border: 1px solid #fff; /* padding вокруг плашки */
	height: 20px;
}
.block-filter ul {
	margin: 0;
	padding: 0;
	display: flex;
	grid-column-gap: 25px;
	max-width: 100%;
	margin-bottom: 10px;
}
.block-filter ul li {
	border: 1px solid #fff;
	padding: 3px 18px;
	border-radius: 50px;
	cursor: pointer;
}
.block-filter ul li a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
}
.block-filter ul li:hover {
	transition: 0.5s;
	transform: translateY(-10px);
	background: #fff;
	color: #000;
	border: 1px solid #000;
}
.block-filter ul li:hover a {
	color: #000;
}
.block-filter ul li.active {
	background: #fff;

	border: 1px solid #000;
}
.block-filter ul li.active a {
	color: #000;
}
.search-filter input {
	border: 1px solid #fff;
	border-radius: 30px;
	outline: none;
	color: #000;
	padding: 5px 10px;
}
