.pagination {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	grid-column-gap: 10px;
}
.pagination span {
	padding: 10px;
	border: 1px solid #fff;
	cursor: pointer;
}
.pagination span.no_active {
	border: 1px solid #999;
	color: #999;
}
.pagination span:hover {
	transform: scale(1.2);
}
.pagination span.active {
	background: #fff;
	color: #000;
}
