body {
	background-color: rgb(31, 28, 28);
}
body * {
	color: #fff;
	font-size: 16px;
	position: relative;
	font-family: "Rubik Gemstones", cursive;
	display: block;
	font-weight: 400;
}
a {
	text-decoration: none;
}
.wrap-project {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
